
.char1 {
color:#EE2630;
font-size: 100px;
font-family: 'Poppins', sans-serif;
}

.char2 {
color:#003DFF;
font-size: 30px;
}

.char3{
  color:#EE2630;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;

}

.char4{
  color:#003DFF;
  font-size:70px;
  font-family: 'Fjalla One', sans-serif;

}


.char5 {
color:#003DFF;
font-size: 30px;
font-family: 'Poppins', sans-serif;
}

.char6{
  color:#EE2630;
  font-size: 50px;

}

.char7{
  color:#EE2630;
  font-size:70px;

}



.char8{
  color: #EE2630;
  font-size: 90px;

}
.char9 {
color:#EE2630;
font-size: 30px;
}




.char10{
  color:#EE2630;
  font-size:70px;
  font-family: Fjalla One, sans-serif;

}



.char11{
  color:#EE2630;
  font-size:90px;
    font-family: Fjalla One, sans-serif;
}

.char12{
color:#EE2630;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}

.char13{
color:#003DFF;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}

.char14{
color:#EE2630;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}

.char15{
color:#EE2630;
font-size:80px;
  font-family: Fjalla One, sans-serif;
}

.char16{
color:#EE2630;
font-size:60px;
  font-family: Fjalla One, sans-serif;
}

.char17{
color:#003DFF;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}

.char18{
color:#EE2630;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}


.char19{
color:#EE2630;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}

.char20{
color:#003DFF;
font-size:40px;
  font-family: Fjalla One, sans-serif;
}

.char21{
color:#EE2630;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}

.char22{
color:#003DFF;
font-size:30px;
  font-family: Fjalla One, sans-serif;
}

.char23{
color:#EE2630;
font-size:60px;
  font-family: Fjalla One, sans-serif;
}

.background-color:  ;

img {width: 150px}
